@font-face {
    font-family: "PingFang SC Regular";
    src: url('lib/font/PingFang Regular.ttf');
}
@font-face {
    font-family: "PingFang-Medium";
    src: url('lib/font/PingFang-Medium.ttf');
}
li{
    list-style: none;
}
html,body{
    min-width: 1440px;
    font-family: "PingFang SC Regular","PingFang-Medium";
    font-size: 14px;
}
/*navbar*/
header{
    position: relative;
    z-index: 9999;
    background-color: #111;
}
.sd-nav-bg{
    width: 1200px;
    margin: auto;
}
.navbar{
    padding: 0.5rem 0;
}
.navbar-brand{
    padding: 3px 0;
}
.navbar-brand img{
    width: auto;
    height: 40px;
}
.nav{
    width: 100%;
}
.navbar-dark .navbar-nav .nav-link{
    min-width: 7rem;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: #fff;
}
.navbar-nav .nav-item.active .nav-link,.navbar-nav .nav-item.show .nav-link,.navbar-nav .nav-item .nav-link:hover{
    position: relative;
    color: #108cee;
}
.navbar-nav .nav-item.active .nav-link:before,.navbar-nav .nav-item.show .nav-link:before,.navbar-nav .nav-item .nav-link:hover:before{
    position: absolute;
    content: '';
    left: 18px;
    right: 18px;
    bottom: -12px;
    height: 2px;
    background: -webkit-linear-gradient(left, #0a5cee , #0094ec); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #0a5cee , #0094ec); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #0a5cee , #0094ec); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #0a5cee , #0094ec); /* 标准的语法 */
}
.dropdown-toggle::after{
    content: unset;
}
.dropdown-toggle{
    outline-color: #111;
}
.dropdown-menu {
    right: 0;
    min-width: 8rem;
    padding: 0.75rem 0;
    margin-top: .75rem;
    background-color: #111;
    border: none;
    border-radius: 0;
}
.dropdown-menu:before{
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    right: 0;
    height: 15px;
    background-color: transparent;
}
.dropdown-item{
    text-align: center;
    color: #a6a7aa;
}
.dropdown-menu .dropdown-item:hover,.dropdown-item.active{
    color: #108cee;
    background: none;
}
/*carousel*/
#sd_carousel{
    position: relative;
}
#sd_carousel .carousel-caption {
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -20px;
    text-align: left;
    color: #fff;
    font-weight: 500;
    font-family: "PingFang-Medium";
}
#sd_carousel .carousel-indicators {
    bottom: 140px;
}
.carousel-indicators li{
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
}
/*轮播按钮*/
.carousel-indicators .active {
    background-color: rgba(255,255,255,.3);
}
.carousel-indicators li.active:before{
    top:0;
    height: 3px;
    background-color: #fff;
    animation: cwidth 6s ease;
    -webkit-animation: cwidth 6s ease;
}
@keyframes cwidth {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@-webkit-keyframes cwidth {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.carousel-caption h3{
    font-size: 40px;
}
.carousel-caption h3 span{
    margin-right: 40px;
}
.carousel-caption p{
    font-size: 20px;
}
.sd-btn{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin-top: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border: solid 1px #fff;
}
.sd-btn:hover{
    color: #fff;
    text-decoration: none;
    background-color: #108cee;
    border-color: #108cee;
}
#pro_features{
    position: absolute;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
#pro_features .feat-col{
    padding: 35px 15px 20px;
}
#pro_features .feat-col:hover{
    background-color: rgba(0,0,0,.5);
}
.pro-feat{
    position: relative;
    width: 100px;
    margin: auto;
    text-align: center;
}
.pro-feat .feat-img{
    display: inline-block;
}
.feat-caption{
    padding-left: 15px;
}
.feat-caption h3{
    margin-bottom: 15px;
    font-size: 14px;
    color: #fff;
}
.feat-caption p{
    font-size: 14px;
    color: #999;
}
.event-dot1,.event-dot2{
    position: absolute;
}
.event-dot1 img,.event-dot2 img{
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}
.event-dot1{
    top: -43px;
    left: 62px;
}
.event-dot2{
    top: 25px;
    left: 30px;
}
.pro-feat1 .event-dot1{
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}
.pro-feat1 .event-dot2{
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.pro-feat2 .event-dot1{
    top: 0;
    left: 5px;
}
.pro-feat2 .event-dot2{
    top: -18px;
    left: 88px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.pro-feat3 .event-dot1{
    top: -33px;
    left: 62px;
}
.pro-feat3 .event-dot2{
    top: 10px;
    left: 30px;
}
.pro-feat3 .event-dot1{
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.pro-feat3 .event-dot2{
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}
#pro_features .feat-col:hover .event-dot1 img{
    animation: dotUpDown 1.8s cubic-bezier(.455, .03, .515, .955);
}
#pro_features .feat-col:hover .event-dot2 img{
    animation: dotUpDown 1.8s cubic-bezier(.455, .03, .515, .955);
}
/*animation*/
@keyframes dotUpDown {
    0% {
        transform: translate(0, 0) scale(.8);
        opacity: 1;
    }
    20% {
        transform: translate(0, -40px) scale(.8);
        opacity: 0;
    }
    40% {
        transform: translate(0, 20px) scale(.8);
        opacity: 0;
    }
    70% {
        transform: translate(0, 0) scale(.8);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0) scale(.8);
        opacity: 1;
    }
}
/*product*/
#product{
    background-color: #fff;
}
.pro-desc{
    padding-top: 40px;
    margin: auto;
    text-align: center;
}
.pro-desc h3{
    line-height: 40px;
    font-size: 24px;
    color: #333;
    font-weight: normal;
}
.pro-desc p{
    line-height: 20px;
    font-size: 18px;
    color: #666;
    font-weight: normal;
}
.pro-track{
    position: relative;
    width: 823px;
    height: 505px;
    margin: 30px auto 20px;
    background: url(img/guidao.png) no-repeat 180px 0/476px 477px;
}
/*.pro-track:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(img/test.png);
}*/
.pro-item{
    position: absolute;
    width: 240px;
}
.item-desc{
    padding: 0;
    text-align: right;
}
.item-desc.order-12{
    text-align: left;
    padding-left: 15px;
}
.item-desc h3{
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.item-desc p{
    margin: 0;
    font-size: 18px;
    color: #555;
    font-weight: normal;
}
.item-img{
    position: relative;
    cursor: pointer;
}
.item-show{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 15px;
}
.hover-icon{
    position: relative;
    z-index: 9;
}
.item-show:before{
    position: absolute;
    z-index: 3;
    content: '';
    top: -10px;
    left: -10px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 1px dashed #fff;
    background: #fff;
    transition: all .2s ease-in;
}
.i-img{
    position: relative;
}
.item-img:hover .i-img{
    z-index: 99;
}
.item-img:hover .item-show:before{
    border: 1px dashed #5E5CEA;
    animation: rotate 4s infinite linear;
    -webkit-animation: rotate 4s infinite linear;
}
.opacitys{
    animation: opacitys .4s .6s linear;
}
.scales{
    animation: scales 2s ease;
}
.fadeLR{
    animation: fadeLR 2s cubic-bezier(.455, .03, .515, .955);
}
.lineRL{
    animation: lineRL 2s cubic-bezier(.455, .03, .515, .955);
}
.translateXY1{
    z-index: 99;
    animation: translateXY1 .8s .8s cubic-bezier(.455, .03, .515, .955);
}
.translateXY2{
    z-index: 99;
    animation: translateXY2 .8s .8s cubic-bezier(.455, .03, .515, .955);
}
.translateXY3{
    z-index: 99;
    animation: translateXY3 .8s .8s cubic-bezier(.455, .03, .515, .955);
}
.translateXY4{
    z-index: 99;
    animation: translateXY4 .8s .8s cubic-bezier(.455, .03, .515, .955);
}
.translateXY5{
    z-index: 99;
    animation: translateXY5 .8s .8s cubic-bezier(.455, .03, .515, .955);
}
@keyframes lineRL {
    0%{
        clip: rect(0,165px,21px,0);
    }
    50%{
        clip: rect(0,0,21px,0);
    }
    100%{
        clip: rect(0,165px,21px,0);
    }
}
@keyframes fadeLR {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    50%{
        transform: translateX(-120px);
        opacity: 0;
    }
    55%{
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes opacitys {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes scales {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes translateXY1 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(139px,-122px);
    }
}
@keyframes translateXY2 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(221px,91px);
    }
}
@keyframes translateXY3 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-28px,180px);
    }
}
@keyframes translateXY4 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-228px,-62px);
    }
}
@keyframes translateXY5 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-71px,-227px);
    }
}
.pro-item1{
    left: 81px;
    bottom: 114px;
}
.pro-item2{
    top: 111px;
    left: -1px;
}
.pro-item3{
    top: 22px;
    left: 408px;
}
.pro-item4{
    top: 265px;
    left: 609px;
}
.pro-item5{
    width: 272px;
    top: 430px;
    left: 451px;
}
.pro-item5 .item-desc.order-12 {
    padding-left: 10px;
}
.track-center{
    top: 132px;
    left: 302px;
}
.track-center>div{
    position: absolute;
}
.guangquan{
}
.cen-item{
    top: 71px;
    left: 79px;
}
.cen-line{
    top: 95px;
    left: 146px;
}
.cen-desc{
    width: 210px;
    top: 58px;
    left: 156px;
}
.cen-desc h3{
    font-size: 36px;
    font-weight: bold;
    color: #333;
    font-family: -webkit-pictograph;
}
.cen-desc p{
    font-size: 14px;
    color: #555;
}
.pro-info{
    padding-top: 40px;
}
.translateY{
    animation: translateY 1s .5s linear;
}
@keyframes translateY {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    50%{
        transform: translateY(200px);
        opacity: 0;
    }
    0%{
        transform: translateY(0);
        opacity: 1;
    }
}
.pro-jumbotron .display-3{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.pro-jumbotron p.lead{
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #666;
}
.pro-jumbotron .sd-btn{
    margin: 0;
    color: #666;
    border-color: #7d7d7d;
}
.pro-jumbotron .sd-btn:hover{
    color: #fff;
    background-color: #108cee;
    border-color: #108cee;
}
.list-unstyled{
    margin-top: 50px;
}
.media-body h5{
    font-size: 16px;
    color: #333;
}
.media-body p{
    font-size: 14px;
    color: #666;
}
.pro-info>div{
    display: none;
}
.pro-info>div:first-child{
    display: block;
}
/*product plan*/
#pro_plan{
    position: relative;
    padding: 0;
    margin-top: 20px;
}
.bg-img img{
    display: none;
    width: 100%;
    height: auto;
    float: left;
}
.bg-img img:first-of-type{
    display: block;
}
#plan_con{
    position: absolute;
    width: 1100px;
    top:0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#plan_con>div:nth-child(1){
    position: relative;
    width: 180px;
}
#plan_con>div:nth-child(2){
    position: relative;
    width: calc(100% - 380px);
    margin-left: 200px;
}
.list-group{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    transform: translate(-50%,-50%);
}
.list-group-item,.list-group-item:focus{
    padding: 1.5rem 1.25rem;
    background-color: #333;
    border:none;
    text-align: center;
    color: #fff;
}
.list-group-item{
    border-top: solid 1px #666;
}
.list-group-item:first-child{
    border:none;
}
.list-group-item:first-child,.list-group-item:last-child{
    border-radius: 0;
}
.list-group-item.active,.list-group-item:hover,.list-group-item:active {
    background: -webkit-linear-gradient(left, #0a5cee , #0094ec); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #0a5cee , #0094ec); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #0a5cee , #0094ec); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #0a5cee , #0094ec); /* 标准的语法 */
    border-color: #108cee;
}
.list-group-item p:first-child{
    font-size: 16px;
}
.list-group-item p:last-child{
    font-size: 14px;
    color: #a6a7aa;
}
.list-group-item.active p:last-child,.list-group-item:hover p,.list-group-item:active p{
    color: #fff;
}
.tab-pane{
    position: relative;
}
.tab-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -50px;
    color: #fff;
}
.tab-pane h5{
    font-size: 22px;
    margin-bottom: 20px;
}
.tab-pane p{
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
    color: #e5e5e5;
}
.tab-pane ul h6{
    font-size: 16px;
}
.tab-pane ul{
    margin-left: -25px;
    margin-bottom: 70px;
}
.tab-pane li{
    position: relative;
    list-style: none;
}
.tab-pane li:before{
    content: '';
    position: absolute;
    top: 5px;
    left: -15px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}
/*Cooperation Case*/
#coop_case{
    background-color: #fff;
    padding-bottom: 120px;
}
#coop_case .pro-desc{
    padding-bottom: 20px;
}
.coop-case{
    width: 1200px;
    margin: auto;
}
.coop-case>div:nth-child(2) .coop-desc{
    margin-left: 10px;
}
.coop-case>div:nth-child(3) .coop-desc{
    margin-left: 20px;
}
.coop-item{
    position: relative;
    display: block;
}
.coop-desc{
    width: 380px;
    height: 149px;
    box-sizing: border-box;
    padding: 30px 40px;
    background: url(img/case-bg.png) no-repeat center/contain;
    font-size: 14px;
    color: #666;
}
.coop-logo{
    text-align: center;
    padding-top: 5px;
}
.coop-item:hover{
    text-decoration: none;
}
.coop-case .col-md-4:hover .coop-info{
    display: block;
}
.coop-info{
    display: none;
    position: absolute;
    z-index: 99;
    left: 0;
    top:0;
    width: 100%;
    height: 215px;
    padding: 30px 70px;
    box-sizing: border-box;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}
.coop-info h6{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.coop-info .sd-sm-btn{
    width: 110px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto 0;
    color: #fff;
    border-color: #108cee;
    background-color: #108cee;
}
.sd-sm-btn:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.sd-icon1{
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(img/icon1.png) no-repeat center/contain;
}
.sd-icon2{
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(img/icon2.png) no-repeat center/contain;
}
/*footer*/
#footer{
    background-color: #111;
}
footer{
    width: 1200px;
    margin: auto;
    padding-top: 40px;
    color: #fff;
}
footer ul{
    padding: 0;
}
footer h6{
    margin-bottom: 20px;
    font-size: 16px;
}
footer h5{
    font-size: 20px;
    color: #fff;
}
footer a,footer p,.sd-links a{
    font-size: 14px;
    color: #a6a7aa;
}
footer li a{
    display: inline-block;
    max-width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
footer p,.sd-links a{
    line-height: 26px;
}
footer a:hover{
    color: #fff;
    text-decoration: none;
}
.contact-phone{
    padding-top: 35px;
}
.contact-phone a{
    position: relative;
    display: inline-block;
    margin-right: 8px;
}
.contact-phone a:hover .QR-code{
    display: block;
}
.QR-code{
    display: none;
    position: absolute;
    top: -106px;
    left: -30px;
    width: 96px;
    height: 102px;
}
.sd-links{
    margin-top: 10px;
    padding: 20px 0;
    box-sizing: border-box;
    border-top: solid 1px #a6a7aa;
    border-bottom: solid 1px #a6a7aa;
}
.sd-links p{
    margin: 0;
    padding-right: 30px;
    line-height: 26px;
    font-size: 16px;
    color: #fff;
}
.sd-links a{
    padding: 0 30px;
}
.copy-right{
    padding: 25px 0;
    line-height: 20px;
    text-align: center;
    color: #a6a7aa;
    font-size: 14px;
}
#mobile_footer{
    display: none;
    background-color: #111;
}
#mobile_footer>div{
    padding: 12px 0;
}
#mobile_footer p{
    margin-bottom: 5px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
#mobile_footer p:last-of-type{
    color: #a6a7aa;
    margin: 0;
}
.pc-img{
    display: block;
}
.mobile-img,.sys-intro,.dg.ac,#mobile_pro_plan{
    display: none !important;
}
/*mobile*/
@media screen and (max-width: 576px) {
    html,body{
        height: 100%;
        min-width: auto;
    }
    .sd-nav-bg,footer{
        width: auto;
    }
    .navbar-brand img{
        width: auto;
        height: 24px;
    }
    .sd-nav-bg{
        padding: 6px 10px;
    }
    .navbar-toggler,.navbar-toggler:focus{
        border: none;
        outline: none;
    }
    .navbar-dark .navbar-toggler-icon{
        width: 15px;
        height: 14px;
        background-image: url(img/navbar-icon.png);
    }
    .navbar-dark .navbar-nav .nav-link,.dropdown-item{
        text-align: left;
    }
    .dropdown .dropdown-toggle{
        background: url(img/down-arrow.png) no-repeat center right 12px/10px 6px;
    }
    .dropdown.show .dropdown-toggle{
        background: url(img/up-arrow.png) no-repeat center right 12px/10px 6px;
    }
    .navbar-nav .nav-item.active .nav-link:before, .navbar-nav .nav-item.show .nav-link:before, .navbar-nav .nav-item .nav-link:hover:before{
        content: unset;
    }
    .dropdown-menu{
        margin-top: 0;
        padding: .5rem 0;
    }
    .dropdown-item{
        padding: 0.25rem 3.5rem;
    }
    #footer{
        display: none;
    }
    #mobile_footer{
        display: block;
    }
    .pc-img{
        display: none !important;
    }
    .mobile-img{
        display: block !important;
    }

    /*index*/
    #sd_carousel .carousel-caption{
        width: 100%;
        top: auto;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%,0);
        text-align: center;
    }
    #sd_carousel .carousel-indicators {
        bottom: auto;
        top: 265px;
    }
    .carousel-indicators li{
        width: 40px;
        height: 2px;
    }
    .carousel-indicators li.active:before{
        height: 2px;
    }
    .carousel-caption h3 {
        font-size: 21px;
    }
    .carousel-caption p {
        font-size: 14px;
        padding: 0 20px;
    }
    .carousel-caption h3 span {
        margin-right: 15px;
    }
    .sd-btn {
        width: 120px;
        height: 30px;
        line-height: 30px;
        margin: 20px auto;
    }
    #pro_features {
        position: relative;
        width: 100%;
        left: 0;
        transform: translateX(0);
        bottom: 0;
        margin: 0;
        padding: 10px 10px 30px;
    }
    #pro_features .col-6 .row{
        background-color: #000;
        margin: 0;
        padding: 5px 0 5px 10px;
    }
    #pro_features .col-6,#pro_features .col-4,#pro_features .col-8 {
        padding: 0;
    }
    #pro_features .feat-col:hover{
        background: none;
    }
    #pro_features .col-6:nth-child(2n+1) .row{
        margin-right: 10px;
    }
    #pro_features .col-6:nth-child(-n+2) .row{
        margin-bottom: 10px;
    }
    .pro-feat{
        width: auto;
    }
    .pro-feat .event-dot2,.pro-feat .event-dot1{
        display: none;
    }
    .feat-caption{
        padding: 0;
    }
    .feat-caption h3{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .feat-caption h3,.feat-caption p{
        /*font-size: 12px;*/
        font-size: 9px;
    }
    .pro-feat1 .mobile-img{
        width: 52px;
        height: auto;
    }
    .pro-feat2 .mobile-img{
        width: 53px;
        height: auto;
    }
    .pro-feat3 .mobile-img{
        width: 64px;
        height: auto;
        margin-top: 10px;
        margin-left: -7px;
    }
    .pro-feat4 .mobile-img{
        width: 49px;
        height: auto;
    }
    .pro-desc {
        padding-top: 10px;
    }
    .pro-desc h3 {
        line-height: 18px;
        font-size: 14px;
    }
    .pro-desc p {
        line-height: 16px;
        font-size: 12px;
    }
    .list-unstyled {
        margin-top: 20px;
    }
    .sm-pro-track>img{
        width: 100%;
        height: auto;
    }
    .sm-pro-track .media{
        padding: 10px 0;
        border-bottom: solid 1px #e8e8e8;
    }
    .sm-pro-track .media:last-of-type{
        border: none;
    }
    .sm-pro-track .media img{
        position: relative;
        z-index: 9;
        width: 30px;
        height: auto;
        margin: 7px;
    }
    .sm-pro-track .media .mr-3{
        margin-right: 5px;
    }
    .sm-pro-track .media .ml-3{
        margin-left: 5px;
    }
    .sm-pro-track .media-body p{
        max-height: 36px;
        overflow-y: hidden;
        font-size: 12px;
        margin-bottom: 0;
    }
    .sm-pro-track .media-body h5{
        font-size: 14px;
    }
    .sm-a-btn{
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #108cee;
        border: solid 1px #108cee;
    }
    .sm-a-btn:hover{
        text-decoration: none;
    }
    .sm-item-show{
        position: relative;
    }
    .sm-item-show:before {
        position: absolute;
        z-index: 3;
        content: '';
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease-in;
        border: 1px dashed #5E5CEA;
        animation: rotate 3s infinite linear;
        -webkit-animation: rotate 3s infinite linear;
    }
    .sm-pro-track .list-unstyled .media:nth-child(2) .sm-item-show:before{
        border-color: #36c5ef;
    }
    .sm-pro-track .list-unstyled .media:nth-child(3) .sm-item-show:before{
        border-color: #52b8fb;
    }
    .sm-pro-track .list-unstyled .media:nth-child(4) .sm-item-show:before{
        border-color: #1b9ffc;
    }
    .sm-pro-track .list-unstyled .media:nth-child(5) .sm-item-show:before{
        border-color: #4ccbc9;
    }
    #pro_plan {
        display: none;
    }
    #mobile_pro_plan{
        display: block !important;
    }
    .pro-plan-list .list-unstyled{
        margin: 0;
    }
    .pro-plan-list .media{
        padding: 20px 0;
        border-bottom: solid 1px #e8e8e8;
    }
    .pro-plan-list .media:hover{
        text-decoration: none;
    }
    .pro-plan-list .media:last-of-type{
        border: none;
    }
    .pro-plan-list .media h5{
        font-size: 14px;
    }
    .pro-plan-list .media p{
        font-size: 12px;
        margin: 0;
        max-height: 36px;
        overflow: hidden;
    }
    .pro-plan-list .media img{
        width: 105px;
        height: auto;
    }
    .coop-case .col-md-4:hover .coop-info {
        display: none;
    }
    #coop_case {
        padding-bottom: 0;
    }
    #coop_case .pro-desc {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .coop-case {
        width: auto;
    }
    .coop-desc {
        width: 340px;
        height: 133px;
        margin: auto;
        padding: 40px;
        background: url(img/case-bg.png) no-repeat center/contain;
        font-size: 12px;
    }
    .coop-logo img{
        width: auto;
        height: 37px;
    }
    .coop-item{
        margin-bottom: 35px;
    }
    .coop-case>div:nth-child(n+2) .coop-desc {
        margin: 0;
    }
    .coop-info h6 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .coop-info{
        /*display: block;*/
        height: 100%;
        padding: 30px 40px;
    }
    .coop-info p {
        font-size: 12px;
        margin-bottom: 0;
    }
}

