html,body{
    min-width: 1200px;
    background-color: #fff;
}
.sol-banner{
    position: relative;
}
.sol-banner img{
    float: left;
    width: 100%;
    height: auto;
}
.sol-banner-word{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;

    color: #fff;
    font-weight: normal;
}
.sol-banner-word h3{
    margin-bottom: 25px;
    font-size: 40px;
}
.sol-banner-word p{
    width: 700px;
    line-height: 30px;
    font-size: 18px;
}
.sol-content{
    width: 1200px;
    margin: auto;
    padding: 50px 0 100px;
}
.sol-tit{
    position: relative;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #333;
    font-size: 18px;
    font-weight: normal;
}
.sol-tit:before{
    position: absolute;
    content: '';
    top: 2px;
    left: 0;
    width: 2px;
    height: 18px;
    background-color: #108cee;
}
.mr-30{
    margin-right: 30px;
}
.applicable-scene{
    height: 136px;
    margin-bottom: 60px;
    overflow: hidden;
}
.applicable-scene .media-body{
    line-height: 26px;
    font-size: 16px;
    color: #666;
}
.applications .media{
    width: 580px;
    box-sizing: border-box;
    padding: 20px;
    border: solid 1px #bbb;
}
.media-body h5{
    font-size: 18px;
    color: #333;
}
.media-body p{
    max-height: 75px;
    overflow-y: hidden;
    line-height: 25px;
    font-size: 14px;
    color: #666;
}
.mb-15{
    margin-bottom: 15px;
}
.btn-primary{
    width: 100px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    border-color: #666;
    font-size: 14px;
    color: #666;
    background: none;
    border-radius: 0;
}
.btn-primary:hover{
    color: #fff;
    text-decoration: none;
    background-color: #108cee;
    border-color: #108cee;
}
.sm-applicable-scene{
    display: none;
}
@media screen and (max-width: 576px){
    html,body{
        min-width: auto;
    }
    .sol-banner{
        display: none;
    }
    .sol-content {
        width: auto;
        padding: 25px 15px 30px;
    }
    .sol-tit {
        margin-bottom: 15px;
        padding-left: 8px;
        font-size: 14px;
    }
    .sol-tit:before {
        height: 13px;
    }
    .applicable-scene{
        display: none;
    }
    .sm-applicable-scene{
        display: block;
    }
    .sm-applicable-scene img{
        width: 100%;
        height: auto;
    }
    .sm-applicable-scene p{
        font-size: 12px;
        padding-top: 10px;
        max-height: 84px;
        overflow-y: hidden;
    }
    .applications .media {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 10px 15px;
    }
    .applications .media img{
        width: 60px;
        height: auto;
    }
    .media-body h5{
        font-size: 14px;
    }
    .media-body p{
        line-height: 18px;
        max-height: 55px;
        font-size: 12px;
    }
    .mr-30{
        margin-right: 15px;
    }
    .mb-15{
        margin-bottom: 10px;
    }
}